/*THEME*/

[data-bs-theme=light] {
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-tertiary-bg: #f2f2f2;
    --bs-tertiary-bg-rgb: 242, 242, 242;
}

[data-bs-theme=dark] {
    --bs-body-bg: #171717;
    --bs-body-bg-rgb: 23, 23, 23;
    --bs-tertiary-bg: #202124;
    --bs-tertiary-bg-rgb: 32, 33, 36;
}

/*TABLE*/

.table-transparent {
    --bs-table-bg: transparent;
}

/*RESPONSIVE DISABLED*/

@media (min-width: 576px) {
    .disabled-sm {
        pointer-events: none;
        opacity: 0.65;
    }
}

@media (min-width: 768px) {
    .disabled-md {
        pointer-events: none;
        opacity: 0.65;
    }
}

@media (min-width: 992px) {
    .disabled-lg {
        pointer-events: none;
        opacity: 0.65;
    }
}

@media (min-width: 1200px) {
    .disabled-xl {
        pointer-events: none;
        opacity: 0.65;
    }
}

@media (min-width: 1400px) {
    .disabled-xxl {
        pointer-events: none;
        opacity: 0.65;
    }
}